#aside-left{
    float: left !important;
    min-width: 90%;
    min-height: 100%;
}
.semTransportadoras{
    background-color: #ff4444;
    color: #fff;
    font-weight: bold;
    font-size: 16pt;
    display: flex;
    flex: 1;
    min-height: 150px;
    justify-content: center;
    align-items: center;
}
h3.title-left{
    font-weight: normal;
}

form.filtro-pesquisa{
    margin-top: 50px;
}

.cards-transportadoras{
    min-width: 90%;
}
.mat-card {
    margin: 20px 0 20px 0;
}
.cards-transportadoras table tr td{
    text-align: center;
    padding: 5px 40px 5px 40px;
}
td.telefoneWpp{
    min-width: 300px;
    font-size: 12pt;
}
.header-app{
    min-width: 100%;
    display: flex;
    justify-content: space-around;
    align-items: center;
}
.header-app button{
    width: 300px;
    height: 50px;
}