.form-cadastro form{
    width: 40%;
    margin: 50px auto;
    display: flex;
    flex: 1;
    flex-direction: column;
}
button.btn-md-right{
    width: 250px;
    display: flex;
    align-self: flex-end;
    justify-content: center;
}