/* You can add global styles to this file, and also import other style files */

html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }

.link-toolbar{
    text-decoration: none;
    color: #fff;
}
.input-small {
    width: 50%;
}
.input-margin-top{
    margin-top: 20px;
}
.container-modal-cep-uf{
    display: flex;
    flex: 1;
    flex-direction: row;
    justify-content: space-between;
    margin-bottom: 20px;
}
button.btn-cd-tp{
    height: 60px !important;
}
i.media-social-icon{
    max-width: 30px;
    height: auto;
    position: absolute;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-left: 2%;
    margin-top: -5px;

}
.marginTop10 {
    margin-top: 20px;
}